.container {
  height: 100%;
  background: floralwhite;
}

.main_logo {
  width: 185px;
}

.nav {
  background: #404040;
}

.nav_color{
  color: white;
}
.header{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: -ms-device-fixed;
  left:0px;
  bottom:0px;
  height:8%;
}

