<mat-toolbar class="nav">
  <mat-toolbar-row class="nav_color">
    <button mat-icon-button>
     <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon>-->
    </button>
    <a routerLink="/home">
      <img src="/assets/image/ssrLogo.png" alt="ToolLogo" class="main_logo">
    </a>
    <span class="menu-spacer"></span>
    <div class="header">
      <!--<a mat-button [routerLink]="'/addpublisher'"><mat-icon>library_add</mat-icon></a>-->
      <a mat-button [routerLink]="'/publisher'"> Publishers </a>
      <!--<a mat-button [routerLink]="'/addbook'"><mat-icon>library_add</mat-icon></a>-->
      <a mat-button [routerLink]="'/book'"> Books </a>
      <!--<a mat-button [routerLink]="'/addauthor'"><mat-icon>library_add</mat-icon></a>-->
      <a mat-button [routerLink]="'/author'"> Authors </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <mat-toolbar class="nav_color nav footer" >
    <span style="font-size: 12px;">created by NIC company</span>
  </mat-toolbar>
</footer>

<!--

<div style="padding:5px">
  <ul class="nav nav-tabs">
    <li routerLinkActive="active">
      <a routerLink="home">Home</a>
    </li>
      <li routerLinkActive="dea">
        <a routerLink="addpublisher">Add publisher</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="publisher">List of publishers</a>
      </li>
  </ul>
  <ul class="nav nav-tabs">
    <li routerLinkActive="dea">
      <a routerLink="addbook">Add book</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="book">List of books</a>
    </li>
  </ul>
  <ul class="nav nav-tabs">
    <li routerLinkActive="dea">
      <a routerLink="addbook">Add book</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="book">List of books</a>
    </li>
  </ul>
  <br/>

</div>
-->
