<div class="container">
  <table class="table table-striped table-bordered">
    <tr style="background: lightblue;">
      <th>ID</th>
      <th>CITY</th>
      <th>NAME</th>
    </tr>
    <tr *ngFor="let publisher of publishers">
      <td>{{publisher.id}}</td>
      <td>{{publisher.city}}</td>
      <td>{{publisher.name}}</td>
    </tr>
    <tr *ngIf="!publishers">
      <td colspan="3">Loading... Please wait....</td>
    </tr>
    <tr *ngIf="publishers && publishers.length == 0">
      <td colspan="3">No records found!</td>
    </tr>

  </table>
</div>
